SLACK_BOT_TOKEN=
SLACK_CHANNEL_ID=
SERPER_API_KEY=
GOOGLE_SHEETS_CREDENTIALS_PATH=
GOOGLE_SHEET_ID=
NEWS_TOPICS=AI,technology
GEMINI_API_KEY=
GEMINI_MODEL=gemini/gemini-3.1-flash-lite
GOOGLE_CREDENTIALS_BASE64=